<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item">
        <a class="logo footer__logo" href="#">
          Барн<span>Хаус</span>
        </a>
        <ul class="footer__list">
          <li class="footer__item-text">
            БарнХаус © 2024
          </li>
          <li>
            <a class="footer__item-link" href="#">
              Политика конфиденциальности
            </a>
          </li>
          <li class="footer__item-text">
            Разработка сайта: <a href="https://rekkom.agency/" target="_blank">rekkom.agency</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">
          Меню
        </h5>
        <ul class="footer__list">
          <li class="footer__point">
            <a class="footer__link" href="#home">
              Главная
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#about">
              О нас
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#gallery">
              Галерея
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#services">
              Услуги
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#bath-programs">
              Банные программы
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#reserve">
              Бронирование
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#reviews">
              Отзывы
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="#contact">
              Контакты
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">
          Контакты
        </h5>
        <ul class="footer__list">
          <li class="footer__point">
            <a class="footer__link" href="#">
              <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
                <path class="cls-1"
                  d="M53.2,90.14l-5.2,5.86-5.2-5.86c-.25-.29-.71-.81-1.34-1.54-1.03-1.21-2.18-2.57-3.42-4.08-3.53-4.3-7.06-8.86-10.37-13.5-2.68-3.75-5.1-7.41-7.2-10.92-5.6-9.33-8.76-17.2-8.76-23.81C11.7,16.25,27.95,0,48,0s36.3,16.25,36.3,36.3c0,6.62-3.16,14.48-8.76,23.81-2.1,3.51-4.52,7.16-7.2,10.92-3.31,4.64-6.84,9.2-10.37,13.5-1.24,1.51-2.39,2.87-3.42,4.08-.63,.73-1.08,1.25-1.34,1.54h-.01Zm-5.2-36.45c9.61,0,17.4-7.79,17.4-17.4s-7.79-17.4-17.4-17.4-17.4,7.79-17.4,17.4,7.79,17.4,17.4,17.4Z"
                  fill="#fff" />
              </svg>
              <span>Московская область, Город Пушкино, <br>Мкр Новая деревня</span>
            </a>
          </li>
          <li class="footer__point">
            <a class="footer__link" href="tel:+79169505785">
              <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 878.09 878.09">
                <path
                  d="M842.8,737.86c-46.7,119.28-156.19,140.18-191.97,140.18-10.51,0-174.14,9.24-409.36-228.46C52.17,458.29,29.04,252.57,27.03,213.49c-1.96-38.07,8.27-133.57,131.59-204.53C173.9,.17,204.19-3.73,212.01,4.61c3.47,3.7,106.98,185.15,109.7,191.16,2.72,6,4.09,11.92,4.09,17.71,0,8.29-5.54,18.65-16.64,31.08-11.08,12.43-23.14,23.83-36.17,34.19-13.04,10.36-25.09,21.34-36.18,32.95-11.09,11.59-16.63,21.14-16.63,28.59,.75,19.35,15.64,88.67,129.03,194.82,113.42,106.18,168.05,136.09,173.3,138.16,5.26,2.07,9.63,3.09,13.12,3.09,7.01,0,15.96-5.89,26.85-17.7,10.89-11.82,47.5-65.28,59.17-77.1,11.67-11.8,21.4-17.71,29.18-17.71,5.44,0,10.98,1.45,16.62,4.34,5.64,2.9,176.18,109.21,179.44,112.77,8.85,9.66,2.6,39.82-4.09,56.9"
                  fill="#fff" />
              </svg>
              <span>+7(916) 950-57-85</span>
            </a>
          </li>
        </ul>



      </div>
    </div>
  </div>
  <a class="to-top" href="#home">
    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_148_741)">
        <path
          d="M6.81544 6.36318L1.70836 11.6162C1.58878 11.7392 1.43128 11.8052 1.26503 11.8052C1.09878 11.8052 0.938359 11.7392 0.821693 11.6162L0.445443 11.2292C0.200443 10.9772 0.200443 10.5692 0.445443 10.3172L4.73586 5.90418L0.439609 1.48818C0.320025 1.36518 0.255858 1.20318 0.255858 1.03218C0.255858 0.861176 0.320025 0.696177 0.439608 0.576177L0.815858 0.189177C0.935442 0.0661764 1.09294 0.000177308 1.25919 0.000177293C1.42544 0.000177278 1.58586 0.0661763 1.70253 0.189176L6.81544 5.44518C6.93503 5.56818 6.99919 5.73018 6.99919 5.90418C6.99919 6.07818 6.93503 6.24018 6.81544 6.36318Z"
          fill="white" />
      </g>
      <defs>
        <clipPath id="clip0_148_741">
          <rect width="7" height="12" fill="white" transform="matrix(-1 0 0 1 7 0)" />
        </clipPath>
      </defs>
    </svg>
  </a>
</footer>

<!--=include modals.html -->


</div>
<script src="https://api-maps.yandex.ru/v3/?apikey=8b39ca9c-c451-486e-9e57-2d16813928ed&lang=ru_RU"></script>
<script src="./js/main.min.js"></script>
</body>

</html>