<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="./css/style.min.css">
</head>

<body>
    <div class="body_wrapper main-page" id="home">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-top__inner">
                        <div class="header-top__item">
                            <h6 class="header-top__item-title">
                                <img src="images/icons/map-marker-icon.svg" alt="">
                                <span>
                                    Мы находимся
                                </span>
                            </h6>
                            <p class="header-top__item-content">
                                Московская область, Город Пушкино, Мкр Новая деревня
                            </p>
                        </div>
                        <div class="header-top__item">
                            <h6 class="header-top__item-title">
                                <img src="images/icons/clock-icon.svg" alt="">
                                <span>
                                    Мы работаем
                                </span>
                            </h6>
                            <p class="header-top__item-content">
                                Круглосуточно, без выходных
                            </p>
                        </div>
                        <div class="header-top__item header-top__item--logo">
                            <a class="logo" href="/">
                                Барн<span>Хаус</span>
                            </a>
                        </div>
                        <div class="header-top__item">
                            <h6 class="header-top__item-title">
                                <img src="images/icons/whatsapp-icon.svg" alt="">
                                <span>
                                    Пишите нам
                                </span>
                            </h6>
                            <p class="header-top__item-content">
                                <a class="header-top__item-link" href="https://wa.me/+79169505785"></a>
                                Написать в WhatsApp
                            </p>
                        </div>
                        <div class="header-top__item">
                            <h6 class="header-top__item-title">
                                <img src="images/icons/call-icon.svg" alt="">
                                <span>
                                    Звоните нам
                                </span>
                            </h6>
                            <p class="header-top__item-content">
                                <a class="header-top__item-link" href="tel:+79169505785">+7(916) 950-57-85</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom__inner">
                        <a class="logo" href="/">
                            Барн<span>Хаус</span>
                        </a>
                        <nav class="menu">
                            <ul class="menu__list">
                                <li class="menu__item active">
                                    <a class="menu__link" href="#home">
                                        Главная
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#about">
                                        О нас
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#services">
                                        Услуги
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#gallery">
                                        Галерея
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#bath-programs">
                                        Банные программы
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#reserve">
                                        Бронирование
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#reviews">
                                        Отзывы
                                    </a>
                                </li>
                                <li class="menu__item">
                                    <a class="menu__link" href="#contact">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="burger">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-menu">
                <div class="container">
                    <ul class="popup-menu__list">
                        <li class="popup-menu__item active">
                            <a class="popup-menu__link" href="#home">
                                Главная
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#about">
                                О нас
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#gallery">
                                Галерея
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#services">
                                Услуги
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#bath-programs">
                                Банные программы
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#reserve">
                                Бронирование
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#reviews">
                                Отзывы
                            </a>
                        </li>
                        <li class="popup-menu__item">
                            <a class="popup-menu__link" href="#contact">
                                Контакты
                            </a>
                        </li>
                    </ul>
                    <div class="popup-menu__info">
                        <a class="logo" href="/">
                            Барн<span>Хаус</span>
                        </a>
                        <div class="popup-menu__bottom">
                            <div class="header-top__item">
                                <h6 class="header-top__item-title">
                                    <img src="images/icons/map-marker-icon.svg" alt="">
                                    <span>
                                        Мы находимся
                                    </span>
                                </h6>
                                <p class="header-top__item-content">
                                    Московская область, Город Пушкино, Мкр Новая деревня
                                </p>
                            </div>
                            <div class="header-top__item">
                                <h6 class="header-top__item-title">
                                    <img src="images/icons/clock-icon.svg" alt="">
                                    <span>
                                        Мы работаем
                                    </span>
                                </h6>
                                <p class="header-top__item-content">
                                    Круглосуточно, без выходных
                                </p>
                            </div>
                            <div class="header-top__item">
                                <h6 class="header-top__item-title">
                                    <img src="images/icons/whatsapp-icon.svg" alt="">
                                    <span>
                                        Пишите нам
                                    </span>
                                </h6>
                                <p class="header-top__item-content">
                                    <a class="header-top__item-link" href="https://wa.me/+79169505785"></a>
                                    Написать в WhatsApp
                                </p>
                            </div>
                            <div class="header-top__item">
                                <h6 class="header-top__item-title">
                                    <img src="images/icons/call-icon.svg" alt="">
                                    <span>
                                        Звоните нам
                                    </span>
                                </h6>
                                <p class="header-top__item-content">
                                    <a class="header-top__item-link" href="tel:+79169505785">+7(916) 950-57-85</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>